.card--container {
  background-color: var(--clr-neutral-100);
  padding: 1rem;
  border-radius: 1.25em;
  width: 325px;
  text-align: center;
  box-shadow: 4px 4px 45px var(--clr-boxshadow);
}

.card--img {
  border-radius: .8em;
  width: 100%; 
  height: auto;
}

.card--text {
  padding: 1.8em 1.3em 1.8em 1.3em;
}

.card--text-header {
  color: var(--clr-primary-700);
  font-size: 1.4rem;
  font-weight: var(--fw-bold);
}

.card--text-subheader {
  color: var(--clr-primary-500);
  font-weight: var(--fw-regular);
  padding-top: 1em;
}

@media (max-width: 600px) {

  .card--container {
    width: 80%;
  }

}